body {
    font-size: 15px;
    background-color:rgb(21, 20, 20);
}

.characterFilter {
    background-color: gray;
    color: aliceblue;
}

h3 {
    text-decoration: underline;
    color: aliceblue;
    background-color: black;
}

.col.heading {
    text-decoration: underline;
}

.line:nth-child(odd) {
    background-color: rgb(159, 146, 146);
}

.line:nth-child(even) {
    background-color: rgb(52, 48, 48);
}

.row {
    color: aliceblue;
}
.row:nth-child(odd) {
    background-color: rgb(159, 146, 146);
}

.row:nth-child(even) {
    background-color: rgb(52, 48, 48);
}

.card {
    background-color: rgb(21, 17, 17);
    color: aliceblue;
}

li:nth-child(odd) {
    background-color: rgb(159, 146, 146);
    color: aliceblue;
}

li:nth-child(even) {
    background-color: rgb(52, 48, 48);
    color: aliceblue;
}


.link-info {
    font-size: 12px;
}

@media (max-width: 600px){
    body {
        font-size: 10px;
    }

    .link-info{
        font-size: 8px;
    }
}